<a href="https://colab.research.google.com/github/kandaswarna123/python-practice/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list-ordered mutable and allows duplicates it use []
#indexing you access elements of a list using their position

list=[10,20,30]
print(list)
print(type(list))#type

#indexing
print(list[1])
list[1]=50
print(list)

#slicing-is a way to extract a portion(sublist)froma list
#syntax -list[start:stop:step]

list=[1,23,4,5,6,7,8]
print(list[1:7:3])

list=[1,2,3,4,5,6,7,8,9]
list.append([10,11])#append
print(list)

list.extend([10,11])#extend  individual
print(list)


list.insert(1,13)
print(list)

list.remove(4)#remove
print(list)

x= list.index(3)
print(x)

list.pop()#remove last element
print(list)

x=list.count(1)
print(x)


a=[4,5,2,5,7,8]
a.sort()
print(a)

print(list.reverse())

x=list.copy()
print(x)

list.clear()
print(list)

[10, 20, 30]
<class 'list'>
20
[10, 50, 30]
[23, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11], 10, 11]
[1, 13, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11], 10, 11]
[1, 13, 2, 3, 5, 6, 7, 8, 9, [10, 11], 10, 11]
3
[1, 13, 2, 3, 5, 6, 7, 8, 9, [10, 11], 10]
1
[2, 4, 5, 5, 7, 8]
None
[10, [10, 11], 9, 8, 7, 6, 5, 3, 2, 13, 1]
[]

In [ ]:
a=[0,1,2,3,4,5,6,7,8,9]
print(a[-7:-2:2])
print(a[5:1:-1])
print(a[::2][1:])
print(a[-100:3])
print(a[::-2])

[3, 5, 7]
[5, 4, 3, 2]
[2, 4, 6, 8]
[0, 1, 2]
[9, 7, 5, 3, 1]

In [ ]:
#add elements to a list
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#add element to a specific position
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#delete a specific element
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [ ]:
#sort elements in ascending order
a=[0,3,2,5,6,7,8,3,4,2]
x=sorted(a)
print(x)

[0, 2, 2, 3, 3, 4, 5, 6, 7, 8]

In [ ]:
#separate even and odd numbers
a=[0,1,2,3,4,5,6,7,8,9]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
#password check using list
password=input("enter password:")


a=["hello","swarna","bye"]
if password in a:
    print("correct password")
else:
    print("incorrect password")

enter password:swarna
correct password

In [ ]:
#sum of list elements
n=list(map(int,input().split()))
print(sum(n))

2 3 4
9

In [ ]:
#convert list to tuple
n=list(map(int,input().split()))
print(tuple(n))

2 3 4 5
(2, 3, 4, 5)

In [ ]:
#find  max and min number in tuple
n=tuple(map(int,input().split()))
print(max(n),min(n))

2 4 5 6 1 5 7 8
8 1

In [ ]:
n=tuple(map(int,input().split()))
print(n.count(3))

2 3 4 4 4 3  2 5 3 5 6
3

In [ ]:
a=[1,2,3]
b=a
b.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
x=[1,2,3]
y=x[:]
y[0]=100
print(x)

[1, 2, 3]

In [ ]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [ ]:
l=[1,2,3,4,5]
print(l[1:4])

[2, 3, 4]

In [11]:
l=[i for i in range(5)]
l[2:4]=[10,11,12]
print(l)

[0, 1, 10, 11, 12, 4]

In [13]:
hash(1)

1

In [14]:
f=["apple","bannana"]
t=tuple(f)
print(t)

('apple', 'bannana')

In [15]:
#remove dublicates from list
n=[1,2,3,4,5,6,3,5,2,4,5,53,4]
print(set(n))

{1, 2, 3, 4, 5, 6, 53}

In [16]:
#tuple of squres of list
n=[1,2,3,4,5]
print(tuple(i**2 for i in n))

(1, 4, 9, 16, 25)

In [19]:

#merge two tuples and sort

t=tuple(map(int,input().split()))
t1=tuple(map(int,input().split()))
s=t+t1
print(tuple(sorted(s)))

1 3 4 2 5
6 7 3 5 7 9
(1, 2, 3, 3, 4, 5, 5, 6, 7, 7, 9)