<a href="https://colab.research.google.com/github/kandaswarna123/python-practice/blob/main/python_prectice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a,b=input("enter a and b values:").split(" ")
x=int(a)
y=int(b)
print("add:",x+y,", sub:",x-y,sep="")

enter a and b values:1 2
add:3, sub:-1

In [ ]:
a=int(input())
b=int(input())
print(a,b,sep="_")

5
8
5_8

In [ ]:
a=int(input())
b=int(input())
print(a,b,sep="-",end=" hello")

2
3
2-3 hello


sum of two numbers:

In [ ]:
num1=int(input("num1 = "))
num2=int(input("num2 = "))
print("sum:",num1+num2,sep=(""))
print(f"sum:{num1+num2}") #fstring

num1 = 4
num2 = 5
sum:9
sum:9

qudratic eqn

In [ ]:
a=int(input())
b=int(input())
c=int(input())
root1=0
root2=0
d =(b**2)-4*a*c
root1=(-b + (d**(0.5)))/2*a
root2=(-b - (d**(0.5)))/2*a
print(f"Roots:({root1},{root2})")

1
-3
2
Roots:(2.0,1.0)

In [ ]:
#swaping of two numbers with temporary variablr
a=10
b=20
c=a
a=b
b=c
print(a,b)

20 10

In [ ]:


#swaping of two numbers without temporary variablr

#b=10+20
b=b+a #30
#a=30-10
a=b-a #20
#b=30-20
b=b-a #10
print(a,b)

20 10

In [ ]:
#converting temperature units

c=30
F = c *( 9 / 5) + 32 #(c=30)

k=273+c

print(F,k,sep=",")

86.0,303

In [ ]:
#currency converter
#1usd=0.85

exchange_of_usd_to_eur=0.85
amount_in_usd=100
print(amount_in_usd*exchange_of_usd_to_eur)

85.0

In [ ]:
#calculater program

num1=int(input("num1 = "))
num2=int(input("num2 = "))
operator=input("operator = ")
if operator=="+":
    print(f"sum:{num1+num2}")
elif operator=="-":
    print(f"sub:{num1-num2}")
elif operator=="*":
    print(f"mul:{num1*num2}")
elif operator=="/":
    print(f"div:{num1/num2}")
else:
    print("invalid operator")

num1 = 2
num2 = 3
operator = +
sum:5

In [ ]:
name="python"
print(name[0:6:2])
print(name[1:-1])
print(name[::-1])
print(name[::-2])
print(name[4::-1])
print(name[0::3])
print(name[1::2])
print(name[:])
print(name[1:3])

pto
ytho
nohtyp
nhy
ohtyp
ph
yhn
python
yt

In [ ]:
from os.path import split
#string methods
s="hello, world!"
N="HelLo, wOrlD!"

print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(N.swapcase())
print(s.count("l"))
print(s.strip())
print(s.replace("l","m"))
print(s.lstrip())
print(s.rstrip())
print(s.startswith("hello"))
print(s.endswith("world!"))
print(s.find("w"))#substring index
print(s.rfind("l"))#substring
print(s.index("d"))#substring
print(s.rindex("w"))#substring
print(s.split("l"))#separator
print(s.split(" "))
print(s.join())
print(s.isalnum())
print(s.isalpha())
print(s.isspace())

HELLO, WORLD!
hello, world!
Hello, world!
Hello, World!
hELlO, WoRLd!
3
hello, world!
hemmo, wormd!
hello, world!
hello, world!
True
True
7
10
11
7
['he', '', 'o, wor', 'd!']
['hello,', 'world!']

False
False
False

In [ ]:
s=input()
s2=s.lower()
a=s2.count("a")
e=s2.count("e")
i=s2.count("i")
o=s2.count("o")
u=s2.count("u")
#adding
print(f"no.of vowels:{a+e+i+o+u}")

helloworld
no.of vowels:3

In [ ]:

#write a progm that takes a string input from the user and counts the no of vowels in the string
s=input()
s2="aeiouAEIOU"
count=0
for i in s:
    if i in s2:
        count+=1
print(count)

swarna
2

In [ ]:

#write a progm that takes a string input from the user and counts the no of consonants in the string
s=input()
s2="aeiouAEIOU"
count=0
for i in s:
    if i not in s2:
        count+=1
print(count)

In [ ]:
#create a program that takes the marks of a student in different sub as input calculate the total marks ans avg & display the corresponding grade based on the avg
m=int(input("enter the marks of m:"))
s=int(input("enter the marks of s:"))
e=int(input("enter the marks of e:"))
total_marks=m+s+e
avg=total_marks/3
percetage=total_marks/300*100
grade=""
if percetage>90:
    grade="o"
elif percetage>=80 and percetage<=90:
     grade="A"
elif percetage>=70 and percetage<80:
    grade="B"
else:
   grade="pass"
print(f"total marks:{total_marks} \navg:{avg} \ngrade:{grade}")

enter the marks of m:85
enter the marks of s:70
enter the marks of e:94
total marks:249
avg:83.0
grade:A

In [ ]:
#palindrome
s=input()
if s==s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

mam
palindrome

In [ ]:
#largest of 3 numbers
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print(f"{a} is largest")
elif b>a and b>c:
    print(f"{b} is largest")
else:
    print(f"{c} is largest")

4
3
5
5 is largest

In [ ]:
#largest of 3 numbers
a=input()
x,y,z=a.split(",")
if x>y and x>z:
    print(f" x:{x} is largest")
elif y>x and y>z:
    print(f"y:{y} is largest")
else:
      print(f"z:{z} is largest")

2,4,1
y:4 is largest

In [ ]:
a,b,c = map(int,input("enter the values").split(","))
if a>=b and a>=c :
    print(f"the largest number is {a}")
elif b>=a and b>=c :
    print(f"the largest number is {b}")
else :
    print(f"the largest number is {c}")

enter the values2,3,1
the largest number is 3

In [ ]:
#leap year
year=int(input())
if year%4==0 and year%100!=0 or year%400==0:
    print("leap year")
else:
    print("not leap year")

2023
not leap year

In [ ]:
#Print numbers from 1 to 100. For multiples of 3, print "Fizz" instead of the number. For multiples of 5, print "Buzz". For multiples of both, print "FizzBuzz".

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:

# Given an array of integers, find two numbers such that they add up to a specific target.
# Input: nums = [2, 7, 11, 15], target = 9
# Output: [0, 1]

def two_sum(nums, target):
    seen = {}
    for i, num in enumerate(nums):
        diff = target - num
        if diff in seen:
            return [seen[diff], i]
        seen[num] = i

print(two_sum([2, 7, 11, 15], 18))  # [0, 1]

[1, 2]

In [ ]:
#Find the Second Largest Number

def second_largest(nums):
    nums = list(set(nums))  # Remove duplicates
    nums.sort()
    return nums[-2]

print(second_largest([10, 20, 45, 4, 99]))

45

In [ ]:
def second_largest(nums):
    if len(nums) < 2:
        return None  # Not enough elements

    # Step 1: Initialize largest and second_largest using first two elements
    largest = nums[0]
    second_largest = None

    for num in nums[1:]:
        if num > largest:
            second_largest = largest
            largest = num
        elif num != largest:
            if second_largest is None or num > second_largest:
                second_largest = num

    return second_largest

# Example usage
print(second_largest([10, 20, 45, 4, 99]))

45

In [ ]:
# Check if two strings are anagrams of each other.
# Input: "listen", "silent"
# Output: True

def is_anagram(str1, str2):
    return sorted(str1) == sorted(str2)

print(is_anagram("listen", "silent"))  # True

In [ ]:
#is_anagram
def is_anagram(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

In [ ]:
#anagram
#strings does not have .sort() ithas sorted()
str1=input("Enter first string:")
str2=input("Enter second string:")

a=sorted(str1)
b=sorted(str2)
if a==b:
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

Enter first string:listen
Enter second string:Listen
The strings are not anagrams

In [ ]:
candies=10

while candies>0:
  print("enter the candies")
  candies=candies-1

  print(f"candies left:{candies}")
  # print(candies)

enter the candies
candies left:9
enter the candies
candies left:8
enter the candies
candies left:7
enter the candies
candies left:6
enter the candies
candies left:5
enter the candies
candies left:4
enter the candies
candies left:3
enter the candies
candies left:2
enter the candies
candies left:1
enter the candies
candies left:0

In [ ]:
#break
candies=10
for i in range(candies):
    print("enter the candies")
    if i==5:
        break
print("candies left:",candies-i)

enter the candies
enter the candies
enter the candies
enter the candies
enter the candies
enter the candies
candies left: 5

In [ ]:
def find_median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)
    if n % 2 == 0:
        mid1 = sorted_data[n // 2 - 1]
        mid2 = sorted_data[n // 2]
        return (mid1 + mid2) / 2
    else:
        return sorted_data[n // 2]

def format_median(med):
    return int(med) if med == int(med) else med

def process_operations(operations):
    current_list = []
    output = []
    for op in operations:
        parts = op.split()
        operation_type = parts[0]
        value = int(parts[1])

        if operation_type == 'a':
            current_list.append(value)
        elif operation_type == 'r':
            if value in current_list:
                current_list.remove(value)
            else:
                output.append("wrong")
                continue

        if current_list:
            median = find_median(current_list)
            output.append(format_median(median))
        else:
            output.append("wrong")

    return " ".join(map(str, output))

if __name__ == "__main__":
    n = int(input())
    operations = [input().strip() for _ in range(n)]
    result = process_operations(operations)
    print(result)

6
a 1
a 2
a 3
r 2
r 1
r 3
1 1.5 2 2 3 wrong

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def generate_primes(q):
    primes = []
    num = 2
    while len(primes) < q:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

def waiter(plates, q):
    primes = generate_primes(q)
    answers = []

    for i in range(q):
        prime = primes[i]
        A = []
        B = []
        while plates:
            plate = plates.pop()
            if plate % prime == 0:
                B.append(plate)
            else:
                A.append(plate)
        answers.extend(reversed(B))  # B_i in top-to-bottom order
        plates = A  # Set up A_i for next round

    answers.extend(reversed(plates))  # Remaining plates from last A_i
    return answers

# Example usage
A = [2, 3, 4, 5, 6, 7]
q = 3
result = waiter(A, q)
print(result)

[2, 4, 6, 3, 5, 7]

In [ ]:
#print num from 1 to n
n=int(input())
for i in range(1,n+1):
    print(i)

10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#sum of n natural numbers
n=int(input())
i=1
sum=0
while i<=n:
  sum=i+sum
  i=i+1
print(sum)

3
6

In [ ]:
#sum of n natural numbers
n=int(input())
i=1
while i<=n:
  if i%2==0:
    print(i)
  i=i+1

6
2
4
6

In [ ]:
n=int(input())
for i in range(1,n+1):
  if i%2==0:
    print(i)

10
2
4
6
8
10

In [ ]:
n=int(input())
i=1
while i<=n:
  if not(i%2==0):
    i=i+1
    continue
  i=i+1
  print(i)

10
3
5
7
9
11

In [ ]:
#table
n=int(input())
i=1
while i<=10:
  print(f"{n} x {i} = {n*i}")
  i=i+1

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
n=int(input())
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
n=int(input())
fact=1

while n>0:
  fact=fact*n
  n=n-1
print(fact)

5
120

In [ ]:
#factorial using for loop
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

5
120

In [ ]:
add=lambda a,b:a+b
print(add(2,3))

5

In [ ]:
sqare=lambda x:x**2
print(sqare(2))

4

In [ ]:
def add(a,b):
  print(a+b)
add(2,4)
#   return a+b
# print(add(2,3))

6

In [ ]:
#list comprehensions create a way to createlistn using single line of  code
inp=input().split()
print(inp)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
inp=input().split()
l= [(int(item))**2 for item in inp]
print(l)

2 3 4 4 4
[4, 9, 16, 16, 16]

In [ ]:
#sets
a={1,2,3}
b={2,3,4}
union=a.union(b)
print(union)

inter=a.intersection(b)
print(inter)

differ=a.difference(b)
print(differ)

symmetric_differ=a.symmetric_difference(b)
print(symmetric_differ)

print(2 in a)#membership

print(len(b))

frozen_set=frozenset(a)#immutable set
print(frozen_set)
print(a)

#set comprehension
comp={i**2 for i in range(1,6)}
print(comp)

#methods
#clear(),copy(),pop(),update()
#clear
a.copy()
print(a)

b.update([5,6])
print(b)

b.pop()
print(b)

{1, 2, 3, 4}
{2, 3}
{1}
{1, 4}
True
3
frozenset({1, 2, 3})
{1, 2, 3}
{1, 4, 9, 16, 25}
{1, 2, 3}
{2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [ ]:
#dictionary
dict={"a":1,"b":2,"c":3}
dict.pop('b')
print(dict)
print(dict['a'])

first_val=dict['a']
print(first_val)

#adding
dict["d"]=4
print(dict)

#changing/modifying
dict["a"]=5
print(dict)

#methods
#keys(),value(),items(),get(),pop(),update()

print(dict.get("a"))#dict["a"]
print(dict.items())
print(dict.keys())
print(dict.values())

{'a': 1, 'c': 3}
1
1
{'a': 1, 'c': 3, 'd': 4}
{'a': 5, 'c': 3, 'd': 4}
5
dict_items([('a', 5), ('c', 3), ('d', 4)])
dict_keys(['a', 'c', 'd'])
dict_values([5, 3, 4])

In [ ]:
l=[1,2,3,4,5]
for i in l:
  print(i)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
l={1:"a",2:"b",3:"c"}
for key in l:
  print(key)

1
2
3

In [ ]:
l={1:"a",2:"b",3:"c"}
for value in l.values():
  print(value)

a
b
c

In [ ]:
l={1:"a",2:"b",3:"c"}
for key,value in l.items():
  print(key,value)

1 a
2 b
3 c

In [ ]:
#dict comprehension
comp={i:i**2 for i in range(1,6)}
print(comp)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#sum of all elements in a list
a=[1,2,3,4,5]
print(sum(a))

15

In [ ]:
#sum of all numbers in list using for loop
a=[1,2,3,4,5]
sum=0
for i in a:
  sum=sum+i
print(sum)

15

In [ ]:
a=[1,2,3,4,5]
sum=0
for i in range(len(a)):
  sum=sum+a[i]
print(sum)

15

In [ ]:
a=[1,2,3,4,5]
sum=0
i=0
while i < len(a):
  sum=sum+a[i]
  i=i+1
print(sum)

15

In [ ]:
a=[1,2,3,4,5]
for i in range(len(a)):
  a[i]=a[i]+5
print(a)

[6, 7, 8, 9, 10]

In [ ]:
a=[3,4,2,5,1]
print(max(a))

5

In [ ]:
a=[3,4,2,5,1]
a.sort()
print(f"{a[0]} is min")
print(f"{a[-1]} is max")

1 is min
5 is max

In [ ]:
a=[3,4,2,5,1]
a.sort()
max=a[0]
for i in a:
  if a[i]>max:
    max=a[i]
print(max)

In [ ]:
a=[1,2,3,2,4,3,6,2,5]
b=list(set(a))
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
#1,2,5,4,5,3,6
inp=input().split(',')
l=[int(item) for item in inp]
#remove dublicate and create new list
newL=[]
#iterate over all the elements
for i in l:
  if i in newL:

    continue
  else:

    newL.append(i)
newL.sort()
print(newL)

1,2,5,4,5,3,6
[1, 2, 3, 4, 5, 6]

In [ ]:
#counting
from itertools import count
a=[1,2,5,4,5,3,6,4,5,2,1]
b=list(count(1))
print(b)

In [ ]:
# a=[1,2,5,4,5,3,6,4,5,2,1]
l=[int(item) for item in input().split(",")]
count=0
n=int(input())
for i in l:
  if i==n:
    count+=1
print(count)

1,2,5,4,5,3,6,4,5,2,1
1
2

In [ ]:
a = [1, 2, 5, 4, 5, 3, 6, 4, 5, 2, 1]
counts = {}

for num in a:
    if num in counts:
        counts[num] += 1
    else:
        counts[num] = 1

print(counts)

{1: 2, 2: 2, 5: 3, 4: 2, 3: 1, 6: 1}

In [ ]:

my_dict = {}
a=input()
age=int(input())
c=input()
my_dict["name"] = a
my_dict["age"] = age
my_dict["city"] = c
print(my_dict)

swarna
20
kkd
{'name': 'swarna', 'age': 20, 'city': 'kkd'}

In [ ]:
my_dict={
    "name":"john",
    "age":30,
    "city":"new york"
     }
for i,j in my_dict.items():
  print(i,j)

name john
age 30
city new york

In [ ]:
#hackerrank code
 #for Reversing Word Order and Swapping Case:

sentence = input()
words = sentence.split()
reversed_words = " ".join(words[::-1])
print(reversed_words.swapcase())

goodgirl is swarna
SWARNA IS GOODGIRL

In [ ]:
# Python program to print first 10 prime numbers

# A function name prime is defined
# using def
def fun(n):
    x = 2
    count = 0
    while count < n:
        for d in range(2, int(x ** 0.5) + 1):  # check divisibility only up to sqrt(x)
            if x % d == 0:
                break  # if divisible, it's not prime, so break the loop
        else:
            print(x)  # prime number
            count += 1
        x += 1

# Driver Code
n = 10

fun(n)

2
3
5
7
11
13
17
19
23
29

In [ ]:
def subNumbers(a,b):
  return(a-b)

a=90
b=80
res=subNumbers(a,b)
print("subNumbers:",res)

subNumbers: 10

In [ ]:
# Python program to print first 10 prime numbers

# A function name prime is defined
# using def
def fun(n):
    x = 2
    count = 0
    while count < n:
        for d in range(2, int(x ** 0.5) + 1):  # check divisibility only up to sqrt(x)
            if x % d == 0:
                break  # if divisible, it's not prime, so break the loop
        else:
            print(x)  # prime number
            count += 1
        x += 1

# Driver Code
n = 10

fun(n)

2
3
5
7
11
13
17
19
23
29

In [ ]:
# A function that takes another function as an argument
def fun(func, arg):
    return func(arg)

def square(x):
    return x ** 2

# Calling fun and passing square function as an argument
res = fun(square, 5)
print(res)

25

In [ ]:
def fun(*args):
    for arg in args:
        print(arg)

# Calling the function with multiple arguments
fun(1, 2, 3, 4, 5)

1
2
3
4
5

In [ ]:
def fun(**kwargs):
    for k, val in kwargs.items():
        print(f"{k}: {val}")

# Calling the function with keyword arguments
fun(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [ ]:
class Person:
    # Constructor to initialize the person's name and age
    def __init__(self, name, age):
        self.name = name  # Set the name attribute
        self.age = age    # Set the age attribute

    # Method to print a greeting message
    def greet(self):
        print(f"Name - {self.name} and Age - {self.age}.")

# Create an instance of the Person class
p1 = Person("Alice", 30)

# Call the greet method to display the greeting message
p1.greet()

Name - Alice and Age - 30.

In [ ]:
#returning multiple values
def fun():
    name = "Alice"
    age = 30
    return name, age

name, age = fun()
print(name)
print(age)   # Output: 30

Alice
30

In [ ]:
def fun(n):
    return [n**2, n**3]

res = fun(3)
print(res)

In [ ]:
def fun1(msg):
    def fun2():
        # Using the outer function's message
        return f"Message: {msg}"
    return fun2

# Getting the inner function
fun3 = fun1("Hello, World!")

# Calling the inner function
print(fun3())

In [ ]:
# This function uses global variable s
def f():
    print("Inside Function", s)

# Global scope
s = "I love Geeksforgeeks"
f()
print("Outside Function", s)

In [ ]:
#recursion function
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

In [ ]:
def fibonacci(n):
    # Base cases
    if n == 0:
        return 0
    elif n == 1:
        return 1
    # Recursive case
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Example usage
print(fibonacci(10))

In [ ]:
n=int(input("enter a num"))
i=1
while i<=n:
  if n%i == 0:

    print("values:",i)
  i += 1

enter a num10
values: 1
values: 2
values: 5
values: 10

In [ ]:
#factors
n=int(input("enter a number"))
for i in range(1,n+1):
  if n%i==0:
    print(i)

enter a number6
1
2
3
6

#solve any factor program
initialization
for i in range(1,n+1):
    if n%i==0:
    logic
if check:
    print("yes")
else:
print("no)

In [ ]:
#prime number(1 and itself)
n=int(input())
count=0
for i in range(1,n+1):
  if n%i==0:
        count +=1

if count == 2:
  print("yes")
else:
  print("no")

8
no

In [ ]:
#composite number (more than 2 factors)

n=int(input())
count=0
for i in range(1,n+1):
  if n%i==0:
        count +=1

if count>2:
  print("yes")
else:
  print("no")

In [ ]:
# Perfect number using while loop
n = int(input("Enter a number: "))
sum = 0
i = 1

while i < n:
    if n % i == 0:
        sum += i
    i += 1

if sum == n:
    print(f"{n} is a perfect number")
else:
    print(f"{n} is not a perfect number")

In [ ]:
#perfect number
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
        sum +=i

if sum==n:
  print("yes")
else:
  print("no")

6
yes

In [ ]:
#abundant number

n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
        sum +=i

if sum>n:
  print("yes")
else:
  print("no")

In [ ]:
#deficient num(sum of factors is less than the no.itself)
#21-fac(1,3,7=11<21)
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
        sum +=i

if sum<n:
  print("yes")
else:
  print("no")

21
yes

In [ ]:
# Pronic number (product of two consecutive integers)
n = int(input())
found = False

for i in range(1, n):
    if i * (i + 1) == n:
        found = True
        break

if found:
    print("yes")
else:
    print("no")

56
yes

In [ ]:
# Pronic number (product of two consecutive integers)
n = int(input())
found = False

for i in range(1, n):
    if i * (i + 1) == n:
        found = True
        print("yes")
        print(f"{i} * {i + 1} = {n}")
        break

if not found:
    print("no")

56
yes
7 * 8 = 56

**solve any number funtion**

In [ ]:
 #print all digits of a num on different lines
 n=268
 m=n
 while m!= 0:
  d=m%10
  print(d)
  m=m//10

8
6
2

In [ ]:
#palindrome
n=int(input())
temp=n
rev=0
while n>0:
  d=n%10
  rev=rev*10+d
  n=n//10
if temp==rev:
  print("yes")

121
yes

In [ ]:
n=input()
if n==n[::-1]:
  print(n)

mam
mam

**program template**
m=n
initialization
while m!=0:
    d=m%10
    logic
    m=m//10
if check
    print("yes")
else:
    print("no")

In [ ]:
#spy number(sum of digits = product of digits 123 1+2+3=1*2*3)
n=123
m=n

sum=0
prod=1
while m!=0:
    d=m%10
    sum=sum+d
    prod=prod*d
    m=m//10
if sum==prod:
    print("yes")
else:
    print("no")

yes

In [ ]:
#special number(59=5+9+5*9)
n=59
m=n
sum=0
prod=1
while m!=0:
    d=m%10
    sum=sum+d
    prod=prod*d
    m=m//10
if (sum+prod) == n:
    print("yes")
else:
    print("no")

yes

In [ ]:
#harshad number/niven-num which is divisible by sumof its digit -156=1+5+6=12
n=156
m=n
sum=0

while m!=0:
    d=m%10
    sum=sum+d

    m=m//10
if m%sum==0:
    print("yes")
else:
    print("no")

yes

In [ ]:
#duck num-num which has 0's present in it -402,280
n=400002
m=n
count=0
while m!=0:
    d=m%10
    if d==0:
        count+=1
        print(count)
    m=m//10
if count>0:
    print("yes")
else:
    print("no")

1
2
3
4
yes

In [ ]:
#neon number-sum of digits of square of num = num 9*9=81,9=8+1
n=9
m=n
sum=0
m=n*n
while m!=0:
    d=m%10
    sum=sum+d
    print(sum)

    m=m//10

if sum==n:
    print("yes")
else:
    print("no")

1
9
yes

In [ ]:
# Example using copy()
my_set = {1, 2, 3, 4}
copied_set = my_set.copy()
print("Original set:", my_set)
print("Copied set:", copied_set)

# Example using clear()
my_set.clear()
print("Set after clear():", my_set)

# Example using update()
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Set1 after update(set2):", set1)

set3 = {6, 7}
set1.update(set3, {8, 9}) # update with multiple iterables
print("Set1 after update with multiple iterables:", set1)

In [ ]:
#each crate hold 12 bottles
n=int(input())
crate_hold=12
full_crate=n//crate_hold
left_over=n%crate_hold
print("Full crates:",full_crate)
print("Leftover bottles:",left_over)

140
Full crates: 11
Leftover bottles: 8

In [ ]:
#display sum of 2 integers
a,b=map(int,input().split())
print(a+b)

5 7
12

In [ ]:
#ditributee n chocolates among 4 friends
n=int(input())
d=n%4
e=n//4
print("Each friend gets:",e)
print("Leftover chocolates:",d)

160
Each friend gets: 40
Leftover chocolates: 0

In [ ]:
#eleveter 500kg,give total ppl and weigths if exceeds 500kg overload otherwise safe
n=int(input())
weigths=list(map(int,input().split()))
total_weigths=sum(weigths)
if total_weigths>500:
  print("Total weigths:",total_weigths)
  print("Overload")
else:
  print(" ")
  print("Safe")

18
50 56 82 8 31 82 66 32 93 23 66 83 99 8 47 86 61 85
Total weigths: 1058
Overload

In [ ]:
#lcm of two numbers
a,b=map(int,input().split())
lcm=max(a,b)
while True:
  if lcm%a==0 and lcm%b==0:
    print("LCM:",lcm)
    break
  lcm+=1

12 18
LCM: 36

In [ ]:
#xmins with speed of y m/sec d in km?
x=int(input())
s=int(input())
t=x*60
d=s*t
km=d//1000
print(km,"Km")

20

In [ ]:
#call by value:
def modify(x):
  x=x+4
  print("inside funtion",x)
a=20
modify(a)
print("outside funtion",a)

inside funtion 24
outside funtion 20

In [ ]:
#call by reference
def add_item(my_list):
  my_list.append(99)
  print("inside",my_list)

numbers=[1,2,3,4,8]
add_item(numbers)
print("outside",numbers)

inside [1, 2, 3, 4, 8, 99]
outside [1, 2, 3, 4, 8, 99]

In [ ]:
#lambda
add=lambda x,y:x+y
print(add(10,20))

#no arguments
greet=lambda:"hello"
print(greet())

#one argument
square=lambda x:x*x
print(square(5))

#USING MAP
n=[1,2,3,4]
square=list(map(lambda x:x*x,n))
print(square)

#convert to upper case
name=['hi',"hlo","dwfe"]
upper=list(map(str.upper,name))
print(upper)
#convert to upper case
name=['hi',"hlo","dwfe"]
upper=list(map(lambda x:x.upper(),name))
print(upper)

30
hello
25
[1, 4, 9, 16]
['HI', 'HLO', 'DWFE']
['HI', 'HLO', 'DWFE']

In [ ]:
#multiples of 3 using lambda
n=int(input())
multiple=list(filter(lambda x:x%3==0,range(1,n+1)))
print(*multiple)

10
3 6 9

In [ ]:
#local scope
def hi():
  name="anu"
  print("hello",name)
hi()
#print(name) x error:name not  defined



#global scope
x=10
def show():
  print(x)
show()
print(x)

hello anu
10
10

In [ ]:
#enclosed scope (nonlocal) var in a nested (inner)function that refers to variable in the out fun use nonlocal to modify it
def outer():
  x=10
  def inner():
    nonlocal x
    x+=5
    print("inner",x)
  inner()
  print("outer",x)
outer()

inner 15
outer 15

In [ ]:
#builtin scope is the outermost scope containing names predifined by python
x=[1,2,3,4,5]

print(len(x))
print(max(x))
print(sum(x))

5
5
15

In [ ]:
def greet(*args):
  for name in args:
    print("hello",name)
greet("hi","anu","dddd")


def show(*args):
  print(args)
  for i in args:
    print(i)
show(1,2,3,4,5)

hello hi
hello anu
hello dddd
(1, 2, 3, 4, 5)
1
2
3
4
5

In [ ]:

def show(*args):
  for item in args:
    print(item)
  # data=[1,2,3,4,5]
show(1,2,3,4,9,5,4,)

1
2
3
4
9
5
4

In [ ]:
def student(**kwargs):
  print(kwargs)
student(name="znu",rol=29)

{'name': 'znu', 'rol': 29}